<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "swagger-ui.css" %}">
</head>
<body>
    <div id="swagger-ui"></div>
    <script src="{% static "swagger-ui-bundle.js" %}"> </script>
    <script src="{% static "swagger-ui-standalone-preset.js" %}"> </script>
    <script>
        window.onload = function() {
            const ui = SwaggerUIBundle({
                dom_id: "#swagger-ui",
                deepLinking: true,
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset
                ],
                requestInterceptor: function(request) {
                    if (request.headers.Authorization){
                        let str = request.headers.Authorization.replace("Bearer", "Token");
                        request.headers.Authorization = str;
                    }
                    return request;
                },
                plugins: [
                    SwaggerUIBundle.plugins.DownloadUrl
                ],
                layout: "StandaloneLayout",
                url: "{% static 'docs/index.yaml' %}",
            })       
            window.ui = ui
        }
    </script>
</body>
</html>